@charset 'utf-8';
@import 'reset';

@base: 16px;
@gutter: 16px;
@siteWidth: 900px;
@moduleNum: 3;
@font: Arial, Helvetica, sans-serif;

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: @siteWidth;
    margin: @base;
    
    color: #333;
    font-family: @font;
    font-size: @base * 0.75;
    font-weight: normal;
    line-height: @base;
    
    h1 {
        font-size: @base * 1.5;
        line-height: @base * 1.5;
    }
    
    h1, h2, p {
        margin: 0 0 @base * 0.5;
    }
}

#message {
    width: 100%; height: 80px;
    position: absolute;
    top: -80px; left: 0;
    padding: @base (@base * 2);
    
    font-size: @base;
    line-height: @base * 1.25;
    
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #999;
    
    transition: top 400ms ease-out;
    -o-transition: top 400ms ease-out;
    -moz-transition: top 400ms ease-out;
    -webkit-transition: top 400ms ease-out;
    
    &:before {
        content: 'Message sent: ';
        display: block;
    }
    &.open {
        top: 0;
    }
}

#modules {
    width: @siteWidth;
    margin: (@base * 2) 0 0;
    padding: @base 0 0 @base;
    overflow: hidden;
    
    border: 1px solid #999;
    background: #FAFAFA;
    
    > section {
        width: floor((@siteWidth - (@base * (@moduleNum + 1))) / 3);
        margin: 0 @base @base 0;
        padding: (@base * 0.5);
        float: left;
        
        border: 1px solid #999;
        background: #FFF;
        
        > h1, > h2 {
            margin: 0 (@base * -0.5) (@base * 0.5);
            padding: 0 (@base * 0.5) (@base * 0.5);
            border-bottom: 1px solid #999;
            
            font-size: @base;
            font-weight: bold;
            letter-spacing: 0.1em;
            line-height: @base;
        }
        
    }
}

#participants {
    ul {
        display: block;
        margin: 0;
        padding: 0;
        
        li {
            display: block;
            overflow: hidden;
            
            margin-top: @base;
            padding-top: @base;
            border-top: 1px solid #AAA;
            
            opacity: 1;
            &.disabled { opacity: 0.6; }
            
            img {
                width: 60px + (@base * 0.5);
                float: left;
                margin-right: @base;
                padding-right: (@base * 0.5);
                border-right: 1px solid #AAA;
            }
            table {
                td { height: 20px; }
                th { display: none; }
                .capabilities span {
                    padding: @base * 0.125;
                    color: white;
                    background: #666;
                    border-radius: @base * 0.25;
                }
            }
        }
    }
}

#state {
    #stateForm {
        overflow: hidden;
        fieldset {
            margin: @base 0;
            div + div { margin-top: @base * 0.25; }
            button { width: 10%; }
            input {
                &[readonly] { border-color: white; }
                &.key { width: 35%; }
                &.value { width: 50%; }
            }
        }
        .add { float: left; width: 45%; }
        .submit { float: right; width: 45%; }
    }
    #messageForm {
        margin-top: @base * 0.5;
        padding-top: @base * 0.5;
        border-top: 1px solid #999;
        input {
            display: block;
            width: 100%;
            margin-bottom: @base * 0.25;
        }
    }
}

#facetrack {
    .track_render {
        padding: @base;
        background: red;
        position: absolute;
        top: @base * 2; left: @base * 2;
        overflow: hidden;
        
        background: white;
        border: 1px solid #999;
        
        display: none;
        &.open { display: block; }
        
        .canvas {
            float: left;
            width: 640px; height: 338px;
            background: #EEE;
        }
        table {
            float: left;
            margin-left: @base;
            
            td, th {
                padding-top: 1px;
                padding-bottom: 1px;
                vertical-align: top;
                border-top: 1px solid #CCC;
            }
            th { padding-right: 10px; }
            td {
                padding-left: 8px; padding-right: 8px;
                text-align: center;
            }
            
            tr:first-child th, tr:first-child td { border-top: none; }
            tbody + tbody tr:first-child { th, td { border-top: none; padding-top: 9px; } }
            tbody + tbody tr:first-child {
                th, td {
                    padding-top: 9px;
                    border-top: none;
                }
            }
        }
        .close {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2px; right: 2px;
        }
    }
}